apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: backend-secret
  namespace: default
spec:
  encryptedData:
    DB_PASSWORD: AgAyGrYYe6O+1rSCULraXBydgyrrQrD6fXkzzI9oQwoCEdUZw2AH0x6gto99pNoJHJgXA5kgH0Fz3k+jZ5OUxfZCqfjEd8vz6U+zqPpIO6vLwVLLiWdguJmVpZSZbpNNP5kokpGRFULgIZ748i8nct+nozd+o/xhVoYNfs6R40DfoWZb+23bIhgMHXM0TYVvCZpL6uxZaaS+jNM0FPWEO71b/4kQ3si1Hf1LzwbengwfHT87QPKaSjahGDrprUMs7T6Kdzok6lvIPH93I3t1KStKYQnxkvDg+86OXOzlax3jCWwVnaKBHvsKcSfzAeDb++18ofJVyHdC7BloSCWnZzPeJzqWIj1bVIGfC3SA/fp1HkMhjmL4dQPw7aQCcsA5WWkIHlN6WA0jUhz9H9LO5JQhnKEAHkdZX2Ic45qJQS4owXyJlNHVAGXimos5sNm7XVBPN1KE+G8JuIQgWkB7LLg8x8IOlFIShtXUbIwFxWpDYpezaxZYYflK6EZE0wlZ282MZ58erepIym11mzSmxlJQMk4NxCo2NVAtPsLzJhDGFnQDI5jmnDa9H7f05yA9PwA4oW6uYlHPgpel2ryiMTB2OYfoTQENisKHl9Rejnuhmb184Tj+ANhUAyo8DmSh7nPRRP1uSIj7FprGD2xRxMrotYvKO+iMvmTTG2Yek5wz6fAd6E3BLD+mccfOSgCLfcTyvUO2co7X0KFSksYA
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: backend
      name: backend-secret
      namespace: default
    type: Opaque
---
